<html ng-app="myApp">
<body ng-controller="myController">
  <!-- Your HTML content here -->

  <!-- Example button with ng-click -->
  <!--button ng-click="toggleDescription()">Toggle Description</button-->
  <!-- Add similar buttons for other actions -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
<script src="./app.component.js"></script>
<div class="heading">
  <h1 >HELLO WOMP</h1>
</div>

  <div class="card">
        <img
          alt="real estate logo"
          src="https://media.istockphoto.com/id/1369053959/vector/house.jpg?s=612x612&w=0&k=20&c=iA7YgnbjMT89OD8WDtINPoD6p4-sY-GVp1Tt0YdeqxA="
        >
        <div className="card-content">
          <h2>Two Pod Realty</h2>
          <p id="description">Real Estate Company Focused on delivering the best properties in the State College Area</p>
          <button className="details-button" onClick={toggleDescription} id="detailsBtn">
            Details
          </button>
        </div>
      </div>
      
      <div class="buttons">
        <button ng-click="MyController.toggleDescription()">Toggle Description</button>
        <button id="colorBtn" ng-click="MyController.changeBackgroundColor()">BGColorChanger</button>
        <button id="Headingbtn" ng-click="MyController.changeHeading()">HeadingChanger</button>
        <button id="dltbtn" ng-click="MyController.deleteCard()">DeleteCard</button>
      </div>
</body>
</html>
