<div class="heading">
  <h1 >HELLO WORLD</h1>
</div>

<div class="buttons">
  <button class="duplicate">Duplicate  card</button>
  <button class="changetxt">Change title</button>
  <button id="deletecard">Delete</button>
  <button data-toggle-btn>Toggle details</button>
    <button id="changebackground">Change Background</button>
  </div>
  
  <div className="card">
    <img
      alt="real estate logo"
      src="https://media.istockphoto.com/id/1369053959/vector/house.jpg?s=612x612&w=0&k=20&c=iA7YgnbjMT89OD8WDtINPoD6p4-sY-GVp1Tt0YdeqxA="
    ></img>
    <div className="card-content">
      <h2>Two Pod Realty</h2>
      <p id="description">Real Estate Company Focused on delivering the best properties in the State College Area</p>
      <button className="details-button" onClick={toggleDescription} id="detailsBtn">
        Details
      </button>
    </div>
  </div>